

.footer a,.content h2 a, .content h2 input{
  display: inline-block;
  min-width: 180px;
  text-align: center;
  background-color: #293b6a;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border: 1px dashed #FFF;
  box-shadow: 0px 0px 0px 5px #293b6a;
  margin: 40px 10px 10px 10px;}

ul {border:solid 2px; }
.wrapper table tr th{ padding: 30px; border: solid 1px;
          min-width: 100px;}
.wrapper {display: flex;
          width: 100%;}
.menubar {margin: 10px 20px;}
.content table tr, h2 {display: inline-block;}
