.wrapper th {border: solid 2px; }
td,th {padding: 10px 15px;}
.wrapper table {margin: auto; padding: 10px;}
.wrapper input,.footer a,.wrapper a {
  display: inline-block;
  min-width: 180px;
  text-align: center;
  background-color: #293b6a;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 15px;
  border: 1px dashed #FFF;
  box-shadow: 0px 0px 0px 5px #293b6a;
  margin: 10px 10px 10px 10px;}
.footer a {margin-top: 50px;}
